In [20]:
# importing libraries
import pandas as pd
import numpy as np
import pymysql

In [4]:
# Convert CSV  to dataframe
df_buses_2=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Aassam_bus_details.csv")
df_buses_1=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\AndhraPradesh_bus_details.csv")
df_buses_3=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Bihar_bus_details.csv")
df_buses_4=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Chandigarh_bus_details.csv")
df_buses_5=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\HimachalPradesh_bus_details.csv")
df_buses_6=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Kadamba_bus_details.csv")
df_buses_7=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Meghalaya_bus_details.csv")
df_buses_8=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Kerala_bus_details.csv")
df_buses_9=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Punjab_bus_details.csv")
df_buses_10=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Rajasthan_bus_details.csv")
df_buses_11=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Sikkim_bus_details.csv")
df_buses_12=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Telangana_bus_details.csv")
df_buses_13=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\UttarPradhesh_bus_details.csv")
df_buses_14=pd.read_csv(r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\WestBengal_bus_details.csv")

In [5]:
Final_df=pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10,df_buses_11,df_buses_12,df_buses_13,df_buses_14],ignore_index=True)
Final_df

,Route_Name,Route_Link,Bus_Name,Bus_Type,Departing_Time,Duration,Reaching_Time,Star_Rating,Price,Seat_Availability
0,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3962,INDRA(A.C. Seater),20:40,07h 35m,04:15,3.7,INR 528,33 Seats available
1,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 4900,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:40,08h 00m,04:40,3.6,INR 436,23 Seats available
2,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 95703,"SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)",20:45,06h 45m,03:30,3.3,INR 452,18 Seats available
3,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 3697,STAR LINER(NON-AC SLEEPER 2+1),20:45,07h 00m,03:45,3.9,INR 607,11 Seats available
4,Hyderabad to Vijayawada,https://www.redbus.in/bus-tickets/hyderabad-to...,APSRTC - 35212,STAR LINER(NON-AC SLEEPER 2+1),20:45,07h 00m,03:45,3.9,INR 565,11 Seats available
...,...,...,...,...,...,...,...,...,...,...
11092,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC) HABRA-DIGHA via Bally - 26|05:35,Non AC Seater (2+3),05:35,03h 20m,08:55,4.7,INR 130,43 Seats available
11093,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC) HABRA-DIGHA via Bally - 26|06:55,Non AC Seater (2+3),06:55,03h 50m,10:45,4.2,INR 130,45 Seats available
11094,Habra to Heria,https://www.redbus.in/bus-tickets/habra-to-heria,WBTC (CTC) HABRA-DIGHA via Bally - 26|12:45,Non AC Seater (2+3),12:45,03h 55m,16:40,4.2,INR 130,46 Seats available
11095,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Habra-Midnapur - 194|15:40,Non AC Seater (2+3),15:40,03h 00m,18:40,3.8,INR 111,35 Seats available
11096,Midnapore to Kolkata Airport,https://www.redbus.in/bus-tickets/midnapore-to...,WBTC (CTC) Barasat-Midnapur - 208|17:00,Non AC Seater (2+3),17:00,02h 00m,19:00,4.0,INR 111,37 Seats available

In [6]:
# data about the data
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11097 entries, 0 to 11096
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         11097 non-null  object
 1   Route_Link         11097 non-null  object
 2   Bus_Name           10947 non-null  object
 3   Bus_Type           10942 non-null  object
 4   Departing_Time     10947 non-null  object
 5   Duration           10947 non-null  object
 6   Reaching_Time      10947 non-null  object
 7   Star_Rating        10947 non-null  float64
 8   Price              10947 non-null  object
 9   Seat_Availability  10945 non-null  object
dtypes: float64(1), object(9)
memory usage: 867.1+ KB

Data Cleaning

In [7]:
# Convert Prices to Numeric
Final_df["Price"]=Final_df["Price"].str.replace("INR","")
Final_df["Price"]=Final_df["Price"].astype(float)
Final_df["Price"].fillna(0)

0        528.0
1        436.0
2        452.0
3        607.0
4        565.0
         ...
11092    130.0
11093    130.0
11094    130.0
11095    111.0
11096    111.0
Name: Price, Length: 11097, dtype: float64

In [8]:
# Convert Prices to Numeric
Final_df["Seat_Availability"]=Final_df["Seat_Availability"].str.replace("Seats available","")
Final_df["Seat_Availability"]=Final_df["Seat_Availability"].str.replace("Seat available","")
Final_df["Seat_Availability"]=Final_df["Seat_Availability"].astype(float)
Final_df["Seat_Availability"].fillna(0)

0        33.0
1        23.0
2        18.0
3        11.0
4        11.0
         ...
11092    43.0
11093    45.0
11094    46.0
11095    35.0
11096    37.0
Name: Seat_Availability, Length: 11097, dtype: float64

In [9]:
# Fill blank cells of Star_Rating 
Final_df["Star_Rating"].fillna(0,inplace=True)

C:\Users\VIVEK - PC\AppData\Local\Temp\ipykernel_26904\259703826.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Star_Rating"].fillna(0,inplace=True)

In [10]:
# info after the data type change
Final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11097 entries, 0 to 11096
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Route_Name         11097 non-null  object
 1   Route_Link         11097 non-null  object
 2   Bus_Name           10947 non-null  object
 3   Bus_Type           10942 non-null  object
 4   Departing_Time     10947 non-null  object
 5   Duration           10947 non-null  object
 6   Reaching_Time      10947 non-null  object
 7   Star_Rating        11097 non-null  float64
 8   Price              10947 non-null  float64
 9   Seat_Availability  10945 non-null  float64
dtypes: float64(3), object(7)
memory usage: 867.1+ KB

In [11]:
Final_df = Final_df[Final_df["Price"] <= 7000]

In [12]:
# Fill balnk cells in Bus Name
Final_df["Bus_Name"].fillna(0,inplace=True)

C:\Users\VIVEK - PC\AppData\Local\Temp\ipykernel_26904\4065964196.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Bus_Name"].fillna(0,inplace=True)
C:\Users\VIVEK - PC\AppData\Local\Temp\ipykernel_26904\4065964196.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_df["Bus_Name"].fillna(0,inplace=True)

In [13]:
# Fill balnk cells in Bus Type
Final_df["Bus_Type"].fillna("Not Available",inplace=True)

C:\Users\VIVEK - PC\AppData\Local\Temp\ipykernel_26904\2387038014.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Final_df["Bus_Type"].fillna("Not Available",inplace=True)
C:\Users\VIVEK - PC\AppData\Local\Temp\ipykernel_26904\2387038014.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Final_df["Bus_Type"].fillna("Not Available",inplace=True)

In [15]:
# Change the dataframe to csv
path=r"D:\Education\Data Science\Project\Capstone_Projects\Redbus\Final_busdetails_df_vd.csv"
Final_df.to_csv(path,index=False)

In [16]:
# replacing the nan value
Final_df = Final_df.replace({np.nan: None})

In [30]:
# SQL Connection
conn=pymysql.connect(host="localhost", user="root", password="Vkmd@rhn", database="redbus")
my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS REDBUS")

1

In [31]:
# Table Creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS busroutes_details(
                    ID INT AUTO_INCREMENT PRIMARY KEY, 
                    Route_Name VARCHAR (255) NULL,
                    Route_Link VARCHAR (255) NULL,
                    Bus_Name VARCHAR (255) NULL,
                    Bus_Type VARCHAR (255) NULL,
                    Departing_Time TIME NULL,
                    Duration VARCHAR (255) NULL,
                    Reaching_Time TIME NULL,
                    Star_Rating FLOAT NULL,
                    Price DECIMAL(10),
                    Seat_Availability INT(10)
                    )''')
print("Table Created Successfully")

Table Created Successfully

In [32]:
# SQL Query to insert data into busroutes_details table
insert_query = '''INSERT INTO busroutes_details(
                    Route_Name,
                    Route_Link,
                    Bus_Name,
                    Bus_Type,
                    Departing_Time,
                    Duration,
                    Reaching_Time,
                    Star_Rating,
                    Price,
                    Seat_Availability)
                VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data = Final_df.values.tolist()
my_cursor.executemany(insert_query, data)
conn.commit()

print("values inserted successfully")

values inserted successfully